{% extends "recipes/base.html" %}
{% load static from staticfiles %}
{% block head_title %}
Healthy Living
{% endblock head_title %}

{% block content %}
<h1>Healthy Living</h1>
<hr class="colorhr">
<div id="healthy-living-intro">
        <blockquote class="card-blockquote">
            Eating healthily is all about balance. Every now and then it’s perfectly OK to have pie for dinner or a nice
            slice of cake at teatime – treats are a part of life –
            but it's also important to recognise when we're pushing things too far. Indulgent food should be enjoyed and
            savoured, but only occasionally – it's important to remember
            that the majority of our diet should be made up of balanced, nutritious everyday foods. Make healthy food a
            priority in your life and allow it to
            bring your family and friends together. Learn to love how it makes you feel, how delicious it is and
            remember that a healthy balanced diet and regular exercise are the keys to a healthy lifestyle.
        </blockquote>
</div>
<hr class="featurette-divider">

<h2 class="alert-success header-2">Here are 9 Tips to Help Promote a Healthy Living</h2>
<div class="row">

    <div class="col-md-4">
        <div id="tip1">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/cookfromscratch.jpg" %}">
            <div class="caption">
                <h3>Cook From Scratch</h3>
                <p>This is one of the most important life skills you can learn. It allows you to have
                    complete
                    control
                    of what goes into your food.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="tip2">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/diet.jpg" %}">
            <div class="caption">
                <h3>Eat a Balanced Diet</h3>
                <p>Aim to eat a balanced diet that contains each of the food groups in the correct
                    proportions.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="tip3">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/variety.jpg" %}">
            <div class="caption">
                <h3>Variety Is Key</h3>
                <p>Fill your diet with a wide range of fruits, vegetables, lean meats, fish, eggs, pulses, nuts, seeds,
                    wholegrains and naturally low fat dairy foods. When it comes to fruit and veg, different colours
                    provide your body with the different nutrients it needs to stay strong and healthy it's not just
                    greens that are good for you!</p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <div id="tip4">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/understand.jpg" %}">
            <div class="caption">
                <h3>Understand What You're Eating</h3>
                <p>Make an effort to learn about the food you're eating – we all need to understand where food comes
                    from and how it affects our bodies.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="tip5">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/calories.jpg" %}">
            <div class="caption">
                <h3>Eat Nutritious Calories</h3>
                <p>Make sure the majority of your energy intake comes from nutritious calories that also provide your
                    body with nutrients like vitamins, minerals, protein, fibre and good fats. Avoid empty calories.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="tip6">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/breakfasttip.jpg" %}">
            <div class="caption">
                <h3>Don't Skip Breakfast</h3>
                <p>Breakfast kick-starts your metabolism and helps you to be alert and awake throughout the day.
                    Make sure you always eat a nutritious breakfast. Make it wholesome and make it count.</p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <div id="tip7">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/water.jpg" %}">
            <div class="caption">
                <h3>Drink More Water</h3>
                <p>Water is an essential part of your diet. Drink plenty of water and avoid empty calories from things
                    such as fizzy drinks, energy drinks or juices with added sugar.
                    Eat your calories don't drink them.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="tip8">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/active.jpg" %}">
            <div class="caption">
                <h3>Keep Active</h3>
                <p>Exercise is an extremely important factor in staying healthy so try to be as active as you can</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div id="tip9">
            <img class="img-container" alt="Generic placeholder image" src="{% static "home/images/sleep.jpg" %}">
            <div class="caption">
                <h3>Sleep Well</h3>
                <p>Make sure you get enough sleep – it's an essential part of being healthy and directly affects how
                    well we are able to learn, grow and act in life. While we're asleep, our bodies have that
                    all-important time to repair.</p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block endbody %}

{% endblock endbody %}