{% extends "recipes/base.html" %}

{% block head_title %}
    Recipes
{% endblock head_title %}

{% block content %}
<div class= "main-container">

        {% if recipe_names %}
        <div class="jumbotron">
            <h1>Recipes</h1>
            <p><a href="/recipes/add/">Add a new recipe</a></p>
            <br/>
        </div>
        <hr>

<!-- Recipes panels -->

            <div class="row masonry-container">

                {% for recipe_name in recipe_names %}
                    <div class="col-sm-6 col-md-4 item">
                        <div class="thumbnail">
                            {% if recipe_name.recipe_pic %}
                                <img src={{ recipe_name.recipe_pic.url }} alt="Generic placeholder image" class='img-responsive'>
                            {% endif %}
                            <!-- <img src="..." alt="..."> -->
                            <div class="caption">
                                <h3><a href="{{ recipe_name.get_absolute_url }}">{{ recipe_name.title }}</a></h3>
                                <h5><small>Posted {{ recipe_name.created|timesince }} ago</small></h5>
                                 <div>{{ recipe_name.description|linebreaks|truncatechars:150 }}</div>
                                <p><a href="{{ recipe_name.get_absolute_url }}" class="btn btn-default" role="button">View</a></p>
                            </div>
                        </div>
                    </div> <!-- close masonry-container -->

                    <!-- {% cycle "" "</div><div class='row'>" %} -->
                {% endfor %}
            </div> <!-- End of Row-->

 <!-- If no recipes were found -->

        {% else %}
        <div class="jumbotron">
            <h1>Recipes</h1>
            <p>No recipes are available.</p>
            <p><a href="/recipes/add/">Add a new recipe</a></p>
        </div>
        {% endif %}



 <!-- Page Numbering -->

        <!-- <div class="pagination">
            <span class="step-links">
			 {% if recipe_names.has_previous %}
                 <a href="?page={{ recipe_names.previous_page_number }}"><<</a>
             {% endif %}
            </span>
            <span class="current">
					 Page {{ recipe_names.number }} of {{ recipe_names.paginator.num_pages }}
			 </span>
            </span>
            {% if recipe_names.has_next %}
                <a href="?page={{ recipe_names.next_page_number }}">>></a>
            {% endif %}
            </span>
        </div> -->
</div>

{% endblock content %}
