<div id="recipe-container">
    <h2>Basic Info</h2>
    <hr>
    <div class="form-group">
        <div id="recipe-title-edit">
            {{ recipe_form.title.label_tag }}
            {{ recipe_form.title }}
            {{ recipe_form.title.errors }}
        </div>
        <div id="recipe-description-edit">
            {{ recipe_form.description.label_tag }}
            {{ recipe_form.description }}
            {{ recipe_form.description.errors }}
        </div>
        <div id="recipe-serving-edit">
            {{ recipe_form.serving.label_tag }}
            {{ recipe_form.serving }}
            {{ recipe_form.serving.errors }}
        </div>
        <div id="recipe-prep-edit">
            {{ recipe_form.prep_time.label_tag }}
            {{ recipe_form.prep_time }}
            {{ recipe_form.prep_time.errors }}
        </div>
        <div id="recipe-calorie-edit">
            {{ recipe_form.calorie.label_tag }}
            {{ recipe_form.calorie }}
            {{ recipe_form.calorie.errors }}
        </div>
        <div id="recipe-pic-edit">
            {{ recipe_form.recipe_pic.label_tag }}
            {{ recipe_form.recipe_pic }}
            {{ recipe_form.recipe_pic.errors }}
        </div>
        <h3>Category</h3>
        <hr>
        <div id="recipe-category-edit">
            {{ category_form.breakfast.label_tag }}
            {{ category_form.breakfast }}
            |
            {{ category_form.lunch.label_tag }}
            {{ category_form.lunch }}
            |
            {{ category_form.dinner.label_tag }}
            {{ category_form.dinner }}
            |
            {{ category_form.dessert.label_tag }}
            {{ category_form.dessert }}
            |
            {{ category_form.holiday.label_tag }}
            {{ category_form.holiday }}
        </div>
    </div>
</div>


<div id="ingredients-container">
    <h2>Edit Ingredients</h2>
    <hr>
    {{ ingredients_formset.management_form }}
    <div class="ingredients">
        {% for form in ingredients_formset %}
            <div class="ingredient-container">
                <div class="ingredient-field ingr-name">
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="ingredient-field ingr-quant">
                    {{ form.quantity }}
                    {{ form.quantity.errors }}
                </div>
                <div class="ingredient-field ingr-quant-type {% if form.errors %} ingredient-error {% endif %}">
                    {{ form.quantity_type }}
                    {{ form.quantity_type.errors }}
                </div>
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <span class="form-error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {{ ingredients_formset.non_form_errors }}
</div>


<div id="steps-container">
    <h2>Edit Steps</h2>
    <hr>
    <div class="steps">
        {{ steps_formset.management_form }}
        {% for step_form in steps_formset %}
            <div class="step-container">
                <div class="step-field step-order">
                    {{ step_form.order }}
                    {{ step_form.order.errors }}
                </div>
                <div class="step-field step-description">
                    {{ step_form.description }}
                    {{ step_form.description.errors }}
                </div>
            </div>
        {% endfor %}
        {{ steps_formset.non_form_errors }}
    </div>
</div>

<hr>
