.admin-recipe-pic {
    width: 150px;
}

#login-container {
    /*   width: 500px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);  Breaks the modal creation*/
}

#login-container h1 {
    text-align: center;
}

#login-form {
    width: 250px;
    margin: auto;
}

.card {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px #666;
    border-radius: 0.25em;
    padding: 10px 15px 10px 15px;
}

.link-btn {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
}

ul.errorlist {
    color: red;
}

.navbar-inverse .navbar-nav > li > a.btn-danger:hover,
.navbar-inverse .navbar-nav > li > a.btn-danger:focus {
    background-color: #c9302c;
}

.navbar-form .form-group {
    display: block;
}

.form-error {
    color: red;
    font-weight: bold;
}

.recipe-media-body {
    position: relative;
}

.recipe-media-btn-bar {
    display: block;
    position: absolute;
    bottom: 0px;
}

.delete {
    color: red;
}

.recipe-actions {
    width: 150px;
    text-align: center;
}

.recipe-divider {
    margin-bottom: 25px;
}


/* Signup- Modal Styles*/

.colorhr {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.header-2 {
    text-align: center;
}

.youtube-area iframe{
    width: 560;
    height: 315;
}