{% extends "recipes/base.html" %}

{% block head_title %}
    Search Results
{% endblock head_title %}

{% block content %}
<div class= "container main-container">

		<!-- <ul> -->
			{% if recipes_list or ingredients_list %}
      <div class="jumbotron">
          <h1>Search Results</h1>
      </div>
			{% if recipes_list %}
          <div class="row masonry-container">

				      {% for r in recipes_list %}
                    <div class="col-sm-6 col-md-4 item">
                        <div class="thumbnail">
                            {% if r.recipe_pic %}
                                <img src={{ r.recipe_pic.url }} class='img-responsive'>
                            {% endif %}
                            <div class="caption">
                                <h3><a href="/recipes/{{r.rid }}">{{ r.title }}</a></h3>
								                <h5><small>Posted {{ r.created|timesince }} ago</small></h5>
                                <p>{{ r.description|linebreaks|truncatechars:50 }}</p>
                                <p><a href="/recipes/{{r.rid }}" class="btn btn-default" role="button">View</a></p>
                            </div>
                        </div>
                    </div>
				      {% endfor %}
          </div>
			{% endif %}

			{% if ingredients_list %}
          <div class="row masonry-container">
      				{% for i in ingredients_list %}
      					{% if i.rid in recipes_list %}
      						{# continue #}
      					{% else %}
                    <div class="col-sm-6 col-md-4 item">
                        <div class="thumbnail">
                          {% if r.recipe_pic %}
                              <img src={{ r.recipe_pic.url }} class='img-responsive'>
                          {% endif %}
          								<div class="caption">
          									<h3><a href="/recipes/{{i.rid.rid }}">{{ i.rid.title }}</a></h3>
          									<h5><small>Posted {{ i.rid.created|timesince }} ago</small></h5>
          									<p>{{ i.rid.description|linebreaks|truncatechars:50 }}</p>
          									<p><a href="/recipes/{{i.rid.rid }}" class="btn btn-default" role="button">View</a></p>
          								</div>
          							</div>
          					</div>
      					{% endif %}
      				{% endfor %}
          </div>
			{% endif %}
		<!-- </ul> -->
			{% else %}
      <div class="jumbotron">
          <h1>Search Results</h1>
          <p>No results</p>
      </div>
		{% endif %}


        <!-- <div class="pagination">
            <span class="step-links">
			 {% if recipe_names.has_previous %}
                 <a href="?page={{ recipe_names.previous_page_number }}"><<</a>
             {% endif %}
            </span>
            <span class="current">
					 Page {{ recipe_names.number }} of {{ recipe_names.paginator.num_pages }}
			 </span>
            </span>
            {% if recipe_names.has_next %}
                <a href="?page={{ recipe_names.next_page_number }}">>></a>
            {% endif %}
            </span>
        </div> -->
</div>

{% endblock content %}
